<div class="application_and_attributes">
  <h3>Name: </h3><%= @application.name %>
  <h3>City: </h3><%= @application.city %>
  <h3>State: </h3><%= @application.state %>
  <h3>Zip Code: </h3><%= @application.zip_code %>
</div>

<h3>Current Pets with an Application</h3>
<% @pets.each do |pet| %>
  <p>Pet Name: <%= link_to pet.name, "/pets/#{pet.id}" %></p>
<% end %>

<% if !@application.is_submitted? %>
  <div class="add_a_pet_to_application">
    <h3>Add a Pet to this Application</h3>
  </div>

  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Submit" %>
  <% end %>

  <% if @pet_result != nil %>
   <p>Results</p>
    <% @pet_result.each do |pet| %>
        <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
          <%= f.label(:result, "#{pet.name}")%>
          <%= f.hidden_field :pet_id, :value => pet.id %>
          <%= f.submit "Adopt this Pet" %>
        <% end %>
    <% end %>
  <% end %>

  <% if @pets.count > 0 %>
    <%= form_with url: "/applications/#{@application.id}/submit", method: :patch, local: true do |f| %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.submit "Submit Application" %>
    <% end %>
  <% end %>

<% end %>
